body{
  background:#f4f6f9;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-section{
  background:linear-gradient(
    rgba(0,0,0,0.65),
    rgba(0,0,0,0.65)
  ),
  url("https://images.unsplash.com/photo-1455390582262-044cdead277a");

  background-size:cover;
  background-position:center;

  min-height:70vh;

  display:flex;
  align-items:center;
  justify-content:center;
}

.feature-box{
  background:white;
  padding:30px;
  text-align:center;
  border-radius:15px;
  transition:0.3s;
}

.feature-box:hover{
  transform:translateY(-8px);
}

.card{
  border:none;
  border-radius:15px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.about-section{
  background:white;
  padding:80px 0;
}

footer{
  margin-top:0;
}

.create-page{
  min-height:100vh;
  background:#f4f6f9;
}

.create-page .card{
  border-radius:20px;
}

.create-page input,
.create-page textarea{
  border-radius:10px;
}
.auth-page{
  background:#f4f6f9;
}

.auth-card{
  border:none;
  border-radius:20px;
}

.auth-card input{
  height:50px;
  border-radius:10px;
}

.auth-card button{
  height:50px;
  border-radius:10px;
  font-weight:600;
}
.auth-page{
  background:#f4f6f9;
}

.auth-card{
  border:none;
  border-radius:20px;
}

.auth-card input{
  height:50px;
  border-radius:10px;
}

.auth-card button{
  height:50px;
  border-radius:10px;
  font-weight:600;
}
.blog-card{
  overflow:hidden;
}

.blog-card img{
  height:220px;
  object-fit:cover;
}

.blog-card:hover{
  transform:translateY(-10px);
}